# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# Loader / dev runs
run/
runs/
run-data/
logs/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.eclipse/
.settings/
.classpath
.project
bin/

# SO
Thumbs.db
desktop.ini
.DS_Store

# Artefactos locales
*.log
local.properties
